.navmenu {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 8vh;
    width: 100vw;
    color: white;
    position: sticky;
    top: 0;
    background-color: purple;
}

.youtube {
    width: 500px;
    height: 315px;
    box-shadow: 5px 5px 25px black;
}

.logo:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    background-color: rgb(148, 17, 148);
}

.content::before {
    content: "";
    background: url("../images/study.jpg");
    position: absolute;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}

.content p {
    font-weight: bold;
    margin: 12px 12px;
}

.content h1 {
    margin: 0 12px;
}

.button {
    margin: 15px 168px;
}

.btn {
    padding: 5px 15px;
    background: white;
    border: 2px solid white;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 25px black;
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    text-align: center;
}

.navmenu .links a {
    margin: 12px 18px;
    padding: 3px 8px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
    color: black;
}

.navmenu .links a:hover {
    box-shadow: 5px 5px 25px black;
    background-color: white;
    cursor: pointer;
}

.tag {
    font-weight: bold;
}

.cards::before {
    content: "";
    position: absolute;
    background-color: purple;
    width: 100vw;
    height: 420px;
    z-index: -1;
    opacity: 0.7;
}

.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    margin: 12px 12px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
    background-color: chocolate;
    color: white;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 460px;
}

.ard {
    margin: 12px 12px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
    background-color: rgb(19, 211, 99);
    color: white;
    text-align: center;
    flex-direction: column;
    width: 460px;
}

.rd {
    margin: 12px 12px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
    background-color: purple;
    color: white;
    text-align: center;
    flex-direction: column;
    width: 460px;
}

.forum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px 0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.box p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label,
.box .inputBox input:not([value=""])~label {
    top: -1.125rem;
    left: 10px;
    color: purple;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.box .inputBox input:focus {
    outline: none;
    border: 2px solid #1a73e8;
}

.box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
}

.box input[type="submit"]:hover {
    background-color: #287ae6;
    box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
}

.video {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.video h1 {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}